os
cv2
numpy
PIL
matplotlib.pyplot
datetime
MoviePy

dataset link : https://habibuniversity-my.sharepoint.com/:f:/g/personal/ma06413_st_habib_edu_pk/EoyyPl_bXeFPgZJeIB8C0nwBDdx9L1YLqs_4YVLvys6AjA?e=el5fed